@CHARSET "UTF-8";

.banner	{
	height: 380px;
	background: #ccc;
	position: relative;
	overflow: hidden;
}
.banner .content {
	width: 1024px;
	height: 380px;
	margin: 0 auto;
    position: relative;
}
.banner .content ul {
    width: 10000px;
    margin-left: -1028px;
}
.banner .content ul li {
    margin: 0;
    list-style: none;
    float: left;
    border-radius: 30px;
    /*border: solid 1px green;*/
}
.banner .content ul li img {
	width: 1024px;
    height: 380px;
}


/* 轮播图左右按钮 */
.banner .content .leftBtn,
.banner .content .rightBtn {
    position: absolute;
    top: 160px;
    transform: rotate(45deg);
    border-color: #fff;
    border-width: 5px;
    opacity: .2;
    padding: 15px;
}
.banner .content:hover .leftBtn,
.banner .content:hover .rightBtn {
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    transition: opacity .5s;
    opacity: 1;
}
.banner .content .leftBtn {
    left: -30px;
    border-left-style: solid;
    border-bottom-style: solid;
}
.banner .content .rightBtn {
    right: -30px;
    border-right-style: solid;
    border-top-style: solid;
}

/*-------------------------------------------------*/

.category .title {
	margin-bottom: 10px;
	margin-top: 30px;
	border-bottom: solid 1px #cac5c5;
	height: 30px;
	text-indent: 1em;
	font-size: 18px;
	color: #666;
}
.category .items .item {
    width: 160px;
    height: 231px;
    background: #ccc;
    margin: 20px;
    float: left;
    list-style: none;
}
.category .items .item div {
    text-align: center;
}
.category .items .item .item_banner {
    background: #666;
    color: #fff;
    transition: all .5s;
}
.category .items .item .item_banner:hover {
    opacity: .7;
}
.category .items .item:hover .item_description {
	line-height: 18px;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    word-break: break-all;
    white-space: pre-wrap;
    text-decoration: none;
}

.category .items .item .item_banner .item_header {
    font-size: 10px;
    line-height: 60px;
}
.category .items .item .item_name {
    font-size: 18px;
    margin: 10px 5px 0 5px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow: ellipsis; 
}
.category .items .item .item_banner .item_author {
    padding-right: 15px;
    text-align: right;
    line-height: 50px;
    font-size: 12px;
}
.category .items .item .item_description {
	line-height: 70px;
	letter-spacing: 1px;
	text-indent: 10px;
	text-align: left;
	font-size: 10px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow: ellipsis; 
    transition: all .5s;
    
}


/* 通用css */
.fl {float: left;}
.fr {float: right;}



















