* {
	margin: 0;
	padding: 0;
	font-family: "Î¢ÈíÑÅºÚ" ;
}
#bodyImg {
	background-repeat:no-repeat ;
	background-size: cover;
	background-attachment: fixed;
}
.loginText {
	position: absolute;
	top: 300px;
	left: 200px;
	color: #fff;
}

.loginText p:first-child {
	font-size: 50px;
}

.loginText p:last-child {
	font-size: 41px;
	margin: 20px 0 0 400px;
}

.content {
	width: 450px;
	height: 500px;
	position: absolute;
	right: 30px;
	top: 300px;
	border-radius: 20px;
	background: rgba(255,255,255,.2);
}

.content .title {
	text-align: center;
	color: #fff;
	font-size: 40px;
	line-height: 150px;
}

.content .inputBox {
	margin: 40px 0;
	text-align: center;
}

.content .inputBox input {
	width: 80%;
	height: 60px;
	border-radius: 5px;
	background: #BACFEA;
	font-size: 21px;
	border: none;
	background: rgba(186,207,234,.5);
}

.content .loginBtn {
	text-align: center;
}

.content .loginBtn button {
	color: #fff;
	text-align: center;
	width: 80%;
	height: 60px;
	font-size: 20px;
	background: #458FCE;
	border: none;
	border-radius: 5px;
	background: rgba(69,143,206,.7);
}